{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__PROD__": true,
    "__DEBUG__": true,
    "__COVERAGE__": true,
    "__BASENAME__": true
  },
  "settings": {
  },
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "semi": [2, "always"],
    "comma-dangle": [2, "never"],
    "object-curly-spacing": [2, "never"],
    "function-paren-newline":[2, "consistent"],
    "max-len": 0,
    "linebreak-style": 0,
    "no-shadow": 1,
    "arrow-body-style": 0,
    "global-require": 1,
    "no-unused-expressions": 1,
    "no-confusing-arrow": [1, {"allowParens": true}],
    "no-unused-vars": [2, {"ignoreRestSiblings": true}],
    "no-constant-condition": 2,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "react/no-typos": 1,
    "import/prefer-default-export": 2,
    "react/require-default-props": 1,
    "react/prefer-stateless-function": 1,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 1,
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx"]}]
  }
}
